.card-container {
  width: 200px;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
  background-color: white;
  height: 650px;
}

.card-img {
  width: 100%;
  max-height: 150px;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  font-size: large;
  margin: 0.5rem 5%;
}

.card-description {
  height: 90%;
  margin: 0.5rem 0.8px;
  font-size: small;
}

.card-btn {
  text-align: center;
  width: 90%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  margin: 0.5rem 0.5rem;
}

